{
    font-family: arial, helvetica, sans-serif;
}

body{
    background-color: rgb(170, 99, 236);

}
main{
    background-color: aqua;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.698);
}

